<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include ('../partials/head'); %>
  <link rel="stylesheet" href="css/shopping_list/shopping_list.css">
  <title><%= title %></title>
</head>
<body class="shopping_list">
  <%- include ('../partials/navigation'); %>
	<div class="container">
		<h1>Shopping List</h1>
		<label for="input-el">Add your items here:</label>
		<input type="text" id="input-el">
		<div class="butons" id="buttons">
      <button id="input-btn">ADD</button>
      <button id="delete-btn">DELETE</button>
      <button id="deleteAll-btn">DELETE ALL</button>
  	</div>

  	<div class="checklist" id="checklist">
      <ul id="ul-el">
      </ul>
  	</div>
	</div>
  <%- include ('../partials/footer'); %>
  <script src="js/shopping_list.js"></script>
</body>
</html>