<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Page</title>
  <%- include ('./partials/head'); %>
</head>
<body>
  <%- include ('./partials/navigation'); %>
  <section>
		<article>
			<div class="container-img">
				<a href="/xmas_counter" class="preview">
					<figure>
						<img src="/img/prev_images/xmas_counter_prev.png" alt="preview of xmas-countdown">
						<figcaption>xmas countdown</figcaption>
					</figure>
				</a>
			</div>
			<div class="container-img">
        <a href="/shopping_list" class="preview">
					<figure>
						<img src="/img/prev_images/shopping_list_prev.png" alt="preview of xmas-countdown">
						<figcaption>shopping list</figcaption>
					</figure>
				</a>
			</div>
		</article>
	</section>
	<section>
		<p>
			These projects were made as a javascript practice
		</p>

	</section>
  <%- include ('./partials/footer'); %>
</body>
</html>