<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/xmas_counter.css">
    <title><%= title %></title>
    <%- include ('./partials/head'); %>
</head>
<body>
  <%- include ('./partials/navigation'); %>
	<div class="container">
		<h1>Christmas Countdown 🎄</h1>
		<div class="project">
			<div id="countdown-display-1" class="countdown-display">
				<p class="countdown-text">Days 'til Christmas!</p>
				<p class="timer timer__1">-</p>
			</div>

			<div id="countdown-display-2" class="countdown-display">
				<p class="countdown-text">Days 'til NEXT Christmas!</p>
				<p class="timer timer__2">-</p>
			</div>
		</div>
	</div>
	<%- include ('./partials/footer'); %>
  <script src="js/xmas_counter.js"></script>
</body>
</html>